<h2 class="list-head"> Past Shows </h2>


<div class="list-group post-index post-list">
  <% @posts.each do |post| %>
      <li class="">
        <%= link_to "#{post.title}  -  #{post.date.strftime("%m/%d/%Y")}", post, :class=>""%>
      </li>
  <% end %>
</div>
