<h2 class="list-head"> Upcoming Shows </h2>
<div class="gallery-line"></div>
<ul class="mobile-list">
  <% @posts.each do |post| %>
      <li class="mobile-link">
        <%= link_to "#{post.date.strftime("%m/%d/%Y")} - #{post.title}", post%>
      </li>
  <% end %>
</ul>
</div>
